# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Data / Models
*.h5
*.pkl
*.pt
*.pth
data/raw/
data/processed/
models/weights/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Env vars
.env
*.env
